/* components/buttons.css */

.btn-contato span {
    padding: 10px 50px;
    font-size: 14px;
    font-weight: 300;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-claro);
    border: 0;
    border-radius: 40px;
}

.btn-contato span:hover {
    transform: scale(0.9);
    background-color: var(--cor-terciaria);
    box-shadow: 0px 0px 8px var(--cor-primaria);
}

.btn-social {
    padding: 0px 20px;
    text-decoration: none;
}