/* base/typography.css */

:root {
    /* Tipografia */
    --fonte-padrao: 'Arial', sans-serif;
    --fonte-poppins: 'Poppins', sans-serif;
    --fonte-inter: 'Inter', sans-serif;

    /* Tamanho das Fontes */
    --tamanho-titulo: 2rem;
    --tamanho-texto: 1rem;
}